<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
               <item name="build_static_file" xsi:type="object">Betagento\Developer\Console\DeployStaticFile</item>
            </argument>
        </arguments>
    </type>

</config>    
